<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Mini_chat", root_path, id: "logo" %>
    <nav>
      <ul class="navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "タイムライン", messages_path %></li>
          <li><%= link_to "チャットルーム", rooms_path %></li>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>